@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'Transforma';
  src: url('../_assets/fonts/transforma/Transforma-SemiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal; 
}

.transforma{
  font-family: 'Transforma', sans-serif;
}
.header-animation{
  animation: slideDown 0.4s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}