@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Bold.ttf') format('ttf'),
       url('../assets/fonts/PulpDisplay-Bold.woff') format('woff'),
       url('../assets/fonts/PulpDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal; 
}
@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Light.ttf') format('ttf'),
       url('../assets/fonts/PulpDisplay-Light.woff') format('woff'),
       url('../assets/fonts/PulpDisplay-Light.woff2') format('woff2');
  font-weight: 300; 
  font-style: normal; 
}
@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-LightItalic.ttf') format('ttf'),
       url('../assets/fonts/PulpDisplay-LightItalic.woff') format('woff'),
       url('../assets/fonts/PulpDisplay-LightItalic.woff2') format('woff2');
  font-weight: 300; 
  font-style: italic; 
}
@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Medium.ttf') format('ttf'),
       url('../assets/fonts/PulpDisplay-Medium.woff') format('woff'),
       url('../assets/fonts/PulpDisplay-Medium.woff2') format('woff2');
  font-weight: 500; 
  font-style: normal; 
}
@font-face {
  font-family: 'PulpDisplay';
  src: url('../assets/fonts/PulpDisplay-Regular.ttf') format('ttf'),
       url('../assets/fonts/PulpDisplay-Regular.woff') format('woff'),
       url('../assets/fonts/PulpDisplay-Regular.woff2') format('woff2');
  font-weight: 400; 
  font-style: normal; 
}


@layer utilities {
  .first-letter\:capitalize::first-letter {
    @apply uppercase;
  }
}

:root{
  --greenColor:#98cc00;
  --bw: #000;
}

.dark{
  --greenColor:#D5FE3E;
  --bw: #fff;
}
body{
  font-family: 'PulpDisplay';
  font-weight: 300;
}
.flex-center{
  align-items: center;
  justify-content: center;
}

.loader {
  width: 50px;
  height: 28px;
  --_g: no-repeat radial-gradient(farthest-side,var(--greenColor) 94%,#0000);
  background:
    var(--_g) 50%  0,
    var(--_g) 100% 0;
  background-size: 12px 12px;
  position: relative;
  animation: l23-0 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--greenColor);
  left:0;
  top:0;
  animation: 
    l23-1 1.5s linear infinite,
    l23-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l23-0 {
  0%,31%  {background-position: 50% 0   ,100% 0}
  33%     {background-position: 50% 100%,100% 0}
  43%,64% {background-position: 50% 0   ,100% 0}
  66%     {background-position: 50% 0   ,100% 100%}
  79%     {background-position: 50% 0   ,100% 0}
  100%    {transform:translateX(calc(-100%/3))}
}
@keyframes l23-1 {
  100% {left:calc(100% + 7px)}
}
@keyframes l23-2 {
  100% {top:-0.1px}
}